.pages{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.episodes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
